﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title - smartcalltech</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="favicon.png">
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">

    <style>

       .mvc-grid
        {
           background-color:white;
       }
        
        
         .navbar-brand img {
            height: 25px;
        }

        .navbar {
            z-index: 0;
            background-color: #0098da;
            color: white;
            border: none;
            border-radius: 0px !Important;
        }

        .mvc-grid {
            font-size: 13px;
        }

        /* The Overlay (background) */
        .overlay {
            /* Height & width depends on how you want to reveal the overlay (see JS below) */
            height: 100%;
            width: 0;
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            background-color: rgb(0,0,0); /* Black fallback color */
            background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
            overflow-x: hidden; /* Disable horizontal scroll */
            transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
            background-image: url('/bg.jpg');
            background-size: contain;
        }

        /* Position the content inside the overlay */
        .overlay-content {
            position: relative;
            /*top: 10%; /* 25% from the top */
            width: 100%; /* 100% width */
            text-align: center; /* Centered text/links */
            /*margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
        }

        /* The navigation links inside the overlay */
        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block; /* Display block instead of inline */
            transition: 0.3s; /* Transition effects on hover (color) */
        }

            /* When you mouse over the navigation links, change their color */
            .overlay a:hover, .overlay a:focus {
                color: #f1f1f1;
            }

        /* Position the close button (top right corner) */
        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }
    </style>

</head>




<body style="padding-top: 0px; background-image: url('background-white-15433.jpeg');">

    <div id="myNav" class="overlay">

        <div class="row" style="position: relative; top: 20%; margin: 10px;">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1" style="">

                <section id="loginForm" style="background-color: white; padding: 25px;">
                    <form class="form-horizontal">

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row">

                            <div class="col-md-3"><font style="font-size:larger;">Login below</font></div>
                            <div class="col-md-8">

                            </div>
                        </div>
                        <div class="row">
                            <hr />
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">Email Address</div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Registered email address">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">Password</div>
                            <div class="col-md-6">
                                <input type="password" class="form-control" id="password" name="password" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-6"><input value="Log in" onclick="auth();" class="btn btn-default" /></div>
                            <div class="col-md-6">
                                &nbsp;
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>&nbsp;</p>
                                <p>Login details not working, email support@smatcalltech.co.za</p>
                                @*<p>&copy; @DateTime.Now.Year - smartcalltech</p>*@
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default" style="">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="http://home.smartcalltech.co.za/images/STS_logo.svg" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color:white;" href="/auth/logout">Logout</a></li>
                </ul>
                <form class="navbar-form navbar-right" action="/home" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" id="msisdn" name="msisdn" placeholder="Cellphone number">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">


        <div style="margin: 10px; min-height: 55vh; ">
            @RenderBody()
        </div>


        <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>

        <script>
            [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
                new MvcGrid(element);
            });
        </script>
        <br /><br /><br />
        <hr />

        <footer>
            @if (ViewBag.Today != null)
            {

                <div style="float:right;"><h4 style="display: inline-table"></h4><h4 style="text-decoration: wavy; font-style: italic;display:inline-table">@ViewBag.Today</h4></div>

            }
            @*<p>&copy; @DateTime.Now.Year - smartcalltech</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>


        function openNav(url) {
            //alert(url)
            document.getElementById("myNav").style.width = "100%";
            //document.getElementById("myNavFrame").src = url;

        }

        /* Close when someone clicks on the "x" symbol inside the overlay */
        function closeNav() {
            document.getElementById("myNavFrame").src = '';
            document.getElementById("myNav").style.width = "0%";
        }
    </script>

    @{if (Session["username"] == null)
    {
        <script>
            openNav('');
        </script>
    }
    }

    <script>

        function auth() {

            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            url = "/auth/validate/?username=" + email + "&password=" + password;

            $.getJSON(url)
             .done(function (json) {



                 if (json == "true") {
                     window.location.replace("/home/index");
                 }
                 else {
                     alert(json);
                 }



             })
             .fail(function (jqxhr, textStatus, error) {
                 var err = textStatus + "," + error;
                 alert(err);
             });
        }
    </script>



</body>

</html>
