﻿@model IEnumerable<footprints.smartcalltech.co.za.Controllers.HomeController.SearchResultEntry>
@{
    ViewBag.Title = "query a number";
}

<style>
    .tablecolumn50 {
        width: 40%;
    }

    .tablecolumn10 {
        width: 10%;
    }
</style>

<div class="row">


    @{

        if (ViewBag.Error != null)
        {
            <div class="row" style="padding-top:20px;padding-bottom:20px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger">@ViewBag.Error</div>
                </div>
            </div>
        }

        else if (Session["username"] != null && ViewBag.sr != null)
        {
            footprints.smartcalltech.co.za.Controllers.HomeController.SearchResult sr = ViewBag.sr;
            footprints.smartcalltech.co.za.Models.user u = (footprints.smartcalltech.co.za.Models.user)Session["username"];

            <div class="row" style="padding-top:20px;padding-bottom:20px;">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <a style="font-size:larger;" href="?msisdn=@sr.msisdn" >
                        <span>@sr.msisdn</span>
                    </a>

                    @if (@sr.network != "Econet")
                    { 
                        <span style="font-size:larger;" > - @sr.network </span>
                    }
                    @if (@sr.ported != "")
                    { 
                        <span style="font-size:larger;"> - @sr.ported </span>
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="btn-group btn-group-sm pull-right pull-xs-left " role="group" style="">

                        @if (sr.hassubscription)
                        {
                            <button class="btn btn-default" style="" onclick="cancelconfirmdelete();">Cancel all services</button>
                        }

                        @if (u.domain != "Vodacom")
                        {

                            if (!sr.dnb)
                            {
                                <button class="btn btn-default " style=" " onclick="cancelconfirmdnb();">Do not subscribe</button>
                            }

                            if (!sr.dnc)
                            {
                                <button class="btn btn-default" style=" " onclick="cancelconfirmdnc();">Do not contact</button>
                            }

                            if (sr.entries != null && sr.entries.Count > 0)
                            {

                                <button class="btn btn-default" style="  " onclick="download();">Download</button>
                            }

                        }

                    </div>



                    </div>
            </div>

            if (sr.dnc)
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="alert alert-info">
                            Number blocked from receiving sms messages.
                        </div>
                    </div>
                </div>
            }
            if (sr.dnb)
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="alert alert-info">
                            Number blocked from subscription and billing.
                        </div>
                    </div>
                </div>
            }



            <script>

                function httpget(type) {

                    url = "/home/" + type + "/?msisdn=" + @sr.msisdn + "";

                    $.getJSON(url)
                     .done(function (json) {


                         if (json == "true") {
                             location.reload();
                         }
                         else {
                             alert(json);
                         }



                     })
                     .fail(function (jqxhr, textStatus, error) {
                         var err = textStatus + "," + error;
                         alert(err);
                     });
                }

                function cancelconfirmdelete() {
                    var txt;
                    var r = confirm("Delete all active subscriptions ?");
                    if (r == true) {
                        httpget("cancel");
                    } else {

                    }

                }

                function download() {
                    url = "/home/" + "download" + "/?msisdn=" + @sr.msisdn + "";
                    window.open(url, "_self");
                }

                function cancelconfirmdnb() {
                    var txt;
                    var r = confirm("Block this number from subscription and billing ?");
                    if (r == true) {
                        httpget("dnb");
                    } else {

                    }

                }

                function cancelconfirmdnc() {
                    var txt;
                    var r = confirm("Block this number from receving sms messages ?");
                    if (r == true) {
                        httpget("dnc");
                    } else {

                    }

                }
            </script>
        }
    }



</div>
<div class="row">
    &nbsp;
</div>
@if (ViewBag.sr != null)
{
    <div class="row">
        @(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.DateTime).Titled("Datetime");
            columns.Add(model => model.Type).Titled("Type").AppendCss("tablecolumn10");
            columns.Add(model => model.Service).Titled("Service");
            columns.Add(model => model.Cost).Titled("Cost");
            columns.Add(model => model.EventData).Titled("Event Data").AppendCss("tablecolumn50");
        })
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable()
        )
    </div>
}


@*<script>

    var tid = setTimeout(mycode, 10000);
    function mycode() {
       
        if (window.location.href.indexOf("logout") > -1) {
          
        }
        else {

            url = "/auth/hassession";

            $.getJSON(url)
             .done(function (json) {


                 if (json == "false") {
                     window.location = "http://footprints.smartcalltech.co.za/?logout";
                 }
                 else {
                     tid = setTimeout(mycode, 10000); // repeat myself
                 }



             })
             .fail(function (jqxhr, textStatus, error) {
                 var err = textStatus + "," + error;
                 alert(err);
             });


        }
    }

</script>*@
